{% extends "base.html" %}

{% block content %}
<h1>Alunos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.nome }}</td>
            <td>{{ student.matricula }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.telefone }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
